:root {
    --fondo: #EEF5FF;
    --oscuro: #212121;
    --primario: #A25772;
    --secundario: #9EB8D9;
    --azul: #7C93C3;
}
h1 {
    font-size: 40px;
    text-align: Center;

}


.sombra{

    -webkit-box-shadow: 0px 10px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 10px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 10px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--fondo);
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 2rem;
      
}

.navegacion{
    background-color: var(--secundario);
}

.navegacion-principal{    
    display: flex;
    flex-direction: row;
    justify-content:center;
    
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--primario);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;

}

.navegacion-principal a:hover{
   
    color: var(--oscuro);
    
}


.contenidos{
    
}